* {
    margin: 0;
    padding: 0;
    box-sizing: border;
}
body{
      /* border: 1px solid red; */
   /* width: 1500px; */
   padding: 3px 25px 3px;
   margin: 10px 50px 10px;
}
header{
    margin-top: 80px;
    
}

.push {
    /* border: 1px solid red; */
    /* width: 900px; */
    display: flex;
    justify-content: space-around;
    display: inline-block;
    padding-left: 1000px;
}

.pull {
    /* border: 1px solid blue; */
    width: 200px;
    padding: 5px 0;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 12px;
    margin-top: 130px;
}

.coin {
    margin-top: 30px;
    font-style: normal ;
    font-weight: 800;
    font-size: 64px;
    font-family: Nunito Sans ;
    /* line height: 81.22px;
    letter-spacing: 0.02em; */
    }

.soup {
    margin-top: 100px;
    margin-bottom: 60px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.soul {
    text-decoration: none;
    /* border: 1px solid yellow; */
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: yellow;
    border-radius: 10px;
}

.position {
    position: absolute;
    width: 260.33px;
    height: 282.15px;
    left: 726.26px;
    right: 000;
    top: 282.14px;
    bottom: 967.46px;
}

.pose {
    position: absolute;
    width: 241.58px;
    height: 67.3px;
    left: 615px;
    top: 419.4px;
    /* right: 500px ; */
}

.pros {
    position: absolute;
    width: 191.75px;
    height: 191.75px;
    left: 1200.05px;
    top: 578.05px;
}

.plan {
    position: absolute;
    width: 375.07px;
    height: 200.19px;
    left: 1043.91px;
    top: 317.28px;
     /* box-shadow: 0px 75.013px 121.897px; */
     border-radius: 18px;
}

.plus {
    position: absolute;
    width: 448.81px;
    height: 202.66px;
    left: 702.81px;
    top: 567.87px;
    border-radius: 19.1456px;
}

/* .plum {
    position: absolute;
    width: 1300px;
    height: 977px;
    left: 16px;
    top: 16px;
    background: fixed;
} */

.hero-section{
    display: flex;
    /* justify-content: space-evenly; */
}

.fin {
    margin-top: 200px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #515151;
}

.hulu {
   /* border: 1px solid green; */
   margin-left: 400px;
    position: absolute;
   width: 597px;
   height: 98px;
   left: 992;
   top: 920px;
}

.What {
    margin-top: 90px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 147.4%;
    color: #565656;
    text-align: center;
}

.business {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.core {
    box-sizing: border-box;
    /* border: 1px solid ; */
    width: 320px;
}
.img {
    width: 72px;
    height: 72px;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    margin-left: 120px;
}

.heading {
    margin-top: 20px;
    text-align: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02;
    color: #2b3377;
}

.text {
    margin-top: 20px;
    text-align: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02;
    color: #585858;
}

.big-img {
    width: 432px;
    height: 678px;
    margin-top: 80px;
}
.manage {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 147.4%;
    color: #4a4a4a;
}

.text-planning {
    margin-top: 40px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #575757;
}

.every {
    position: absolute;
    left: 955px;
    top: 1900px;
}

.set {
   margin-top: 350px;
}

.young-man {
    width: 181px;
    height: 258px;
    position: absolute;
    left: 769px;
    top: 2500px;

}
.lap {
    background-color: #fafaff;
    border: 1px solid white;
    padding-bottom: 150px;
}

.inter-grate {
    margin-top: 150px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    color: #565656;
    text-align: center;
}

.grp-img {
    
} 
